<app-navbar></app-navbar>
<div class="d-flex flex-column h-100">
  <app-home-header></app-home-header>
  <section class="py-5" id="features">
    <div class="container px-5 my-5">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2 class="fw-bolder mb-0">
            A better way to start your Freelance journey today 🎯
          </h2>
        </div>
        <div class="col-lg-8">
          <div class="row gx-5 row-cols-1 row-cols-md-2">
            <div class="col mb-5 h-100">
              <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div> -->
              <h1>📤</h1>
              <h2 class="h5">Secure File Uploads</h2>
              <p class="mb-0">Upload your media files with confidence.</p>
            </div>
            <div class="col mb-5 h-100">
              <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div> -->
              <h1>🔗</h1>
              <h2 class="h5">Unique Links</h2>
              <p class="mb-0">
                Each media file you upload generates a unique link.
              </p>
            </div>
            <div class="col mb-5 mb-md-0 h-100">
              <h1>🛡️</h1>
              <h2 class="h5">Encrypted Transactions</h2>
              <p class="mb-0">
                our transactions are protected with end-to-end encryption.
              </p>
            </div>
            <div class="col h-100">
              <div
                class="feature bg-primary bg-gradient text-white rounded-3 mb-3"
              >
                <i class="bi bi-toggles2"></i>
              </div>
              <h1>☎️</h1>
              <h2 class="h5">24/7 Support</h2>
              <p class="mb-0">
                Our dedicated support team is available 24/7 to assist you with
                any questions .
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
          <div class="text-center">
            <div class="fs-4 mb-4 fst-italic">
              "Join thousands of satisfied users who trust Frank Me for secure
              media transactions!"
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <img
                class="rounded-circle me-3"
                width="25px"
                src="../../../../assets/images/alex.jpg"
              />
              <div class="fw-bold">
                Ghayeth
                <span class="fw-bold text-primary mx-1">/</span>
                CEO, Pomodoro
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="pt-4">
    <div class="container px-lg-5">
      <!-- Page Features-->
      <div class="row gx-lg-5">
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection">🌸</i></div> -->
              <h1>🚀</h1>
              <h2 class="fs-4 fw-bold">Enhanced Media Delivery</h2>
              <p class="mb-0">
                Manage and transfer your using the powerful API provided by
                FrankMe!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <h1>📲</h1>
              <h2 class="fs-4 fw-bold">High-Quality Transfers</h2>
              <p class="mb-0">
                Experience high-fidelity media transfers with our platform.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <h1>⚡</h1>
              <h2 class="fs-4 fw-bold">Fast Uploads and Downloads</h2>
              <p class="mb-0">
                Enjoy lightning-fast upload and download speeds with our
                optimized transfer protocols.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <h1>👁️</h1>
              <h2 class="fs-4 fw-bold">Preview Mode</h2>
              <p class="mb-0">
                Preview your media files before finalizing your purchase or
                download!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <h1>🗃️</h1>
              <h2 class="fs-4 fw-bold">Organized Storage</h2>
              <p class="mb-0">
                Stay organized with our built-in storage solution. Easily manage
                and categorize your media files.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xxl-4 mb-5">
          <div class="card bg-light border-0 h-100">
            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
              <h1>🔗</h1>
              <h2 class="fs-4 fw-bold">One-Click Sharing</h2>
              <p class="mb-0">
                Share your media files effortlessly with our one-click sharing
                feature.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer-main></app-footer-main>
