<div class="container">
  <div class="row-title">
    <div class="title">
      <h4>Dashboard</h4>
    </div>
    <div class="sub-title">
      <p>Welcome to the dashboard</p>
    </div>
  </div>
  <div class="row-stat">
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Users</div>
        <div class="stat-value">1543386</div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img
            class="upload"
            src="../../../../assets/icons/Upload Document.png"
          />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Active Links</div>
        <div class="stat-value">162421</div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img class="link" src="../../../../assets/icons/Link.png" />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Clicks</div>
        <div class="stat-value">1943386</div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img class="click" src="../../../../assets/icons/Internet.png" />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Downloads</div>
        <div class="stat-value">12433</div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img
            class="download"
            src="../../../../assets/icons/Open Document.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row-link">
    <div class="col-upload">ssss</div>
    <div class="col-link-table">ssss</div>
  </div>
</div>
