<app-navbar></app-navbar>
<div class="conatiner">
  <header class="py-5">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
          <div class="text-center my-5">
            <h1 class="fw-bolder mb-3">
              Our mission is to provide a safe and reliable marketplace for
              buying and selling media files online.
            </h1>
            <p class="lead fw-normal text-muted mb-4">
              Founded in 2024, Frank Me has quickly become a trusted platform
              for content creators and buyers worldwide
            </p>
            <a class="btn btn-primary btn-lg" href="#scroll-target"
              >Read our story</a
            >
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About section one-->
  <section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <img
            class="img-fluid rounded mb-5 mb-lg-0"
            src="../../../../assets/images/files-pic.png"
            alt="..."
          />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bolder">Our Vision</h2>
          <p class="lead fw-normal text-muted mb-0">
            We envision a future where digital content transactions are
            seamless, secure, and equitable for all parties involved. By
            fostering a community built on trust, transparency, and innovation,
            we aim to become the go-to destination for media transactions,
            setting the standard for excellence in the industry.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- About section two-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-first order-lg-last">
          <img
            class="img-fluid rounded mb-5 mb-lg-0"
            src="../../../../assets/images/files-pic-2.png"
            alt="..."
          />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bolder">Growth &amp; beyond</h2>
          <p class="lead fw-normal text-muted mb-0">
            Our mission is simple: to provide a safe and reliable platform for
            creators to monetize their content while ensuring buyers have access
            to high-quality, secure media files. We believe that by leveraging
            cutting-edge technology and implementing rigorous security measures,
            we can empower creators to showcase their work and buyers to
            discover and purchase content they love, all within a trusted
            environment.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Team members section-->
  <section class="py-5 bg-light">
    <div class="container px-5 my-5">
      <div class="text-center">
        <h2 class="fw-bolder">Our team</h2>
        <p class="lead fw-normal text-muted mb-5">
          Meet the passionate team behind Frank Me, dedicated to ensuring the
          security and success of our users.
        </p>
      </div>
      <div
        class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center"
      >
        <div class="col mb-5 mb-5 mb-xl-0">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="../../../../assets/images/gay.jpg"
              alt="..."
            />
            <h5 class="fw-bolder">Ghaythe</h5>
            <div class="fst-italic text-muted">CFO</div>
          </div>
        </div>
        <div class="col mb-5 mb-5 mb-sm-0">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="../../../../assets/images/manel.jpg"
              alt="..."
            />
            <h5 class="fw-bolder">Manel</h5>
            <div class="fst-italic text-muted">Operations Manager</div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="text-center">
            <img
              class="img-fluid rounded-circle mb-4 px-4"
              src="../../../../assets/images/me-.jpg"
              alt="..."
            />
            <h5 class="fw-bolder">Oussama</h5>
            <div class="fst-italic text-muted">CTO</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer-main></app-footer-main>
