.upload-space {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2.06rem;
  margin-right: 2.06rem;
  margin-bottom: 2rem;
}

.file-upload {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  cursor: pointer;
}

.up-btn {
  background-color: #0077b8;
  width: 2.69438rem;
  height: 2.69438rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-title {
  color: #1f2c73;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.up-sub-title {
  color: #7184ad;
  font-family: Poppins;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
}

input[type="file"] {
  display: none;
}

.input-label {
  color: #1f2c73;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-control {
  width: 80%;
  height: 2rem;
  border-radius: 0.375rem;
  border: 1px solid #0077b8;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
}
input[placeholder] {
  color: #7184ad;
  font-family: Poppins;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 1rem;
}

.form-super-grp {
  margin-left: 2.06rem;
  margin-top: 1.5rem;
}

.btn-primary {
  background-color: #babcbf;
  color: #ffffff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10rem;
  padding: 0.5rem 2.5rem;
  border: none;
  cursor: pointer;
  margin-left: 7rem;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.upload-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.col {
  border-radius: 3px;
  border: 0.6px solid rgba(0, 119, 184, 0.34);
  background: #fff;
  padding: 0.5rem;
}

.upload-info-title {
  color: #1f2c73;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  background-color: #0077b8;
  color: #ffffff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.375rem;
  height: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
