.side-bar {
  width: 4rem;
  height: 100vh;
  flex-shrink: 0;
  background-color: #0077b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  margin-top: 1.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.el-menu {
  width: 4rem;
  height: 2.5rem;
  margin-top: 2.81rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.el-menu:hover {
  border-left: 4px solid #ffffff;
  background-color: #005f7f57;
  transition: 0.5s ease;
}

.el-menu:hover .tooltip {
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  opacity: 1;
}

.active {
  border-left: 4px solid #ffffff;
  background-color: #005f7f57;
}

.tooltip {
  color: #0077b8;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  padding: 0.4rem 0.8rem;
  position: absolute;
  top: -4.1rem;
  left: 4.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
}
