<app-navbar></app-navbar>
<div class="conatiner">
  <header class="py-5">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-6">
          <div class="text-center my-5">
            <h1 class="fw-bolder mb-3">Frank Me Featuers!</h1>
            <p class="lead fw-normal text-muted mb-4">
              Founded in 2024, Frank Me has quickly become a trusted platform
              for content creators and buyers worldwide
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
          <!-- <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection">🌸</i></div> -->
          <h1>🚀</h1>
          <h2 class="fs-4 fw-bold">Enhanced Media Delivery</h2>
          <p class="mb-0">
            Manage and transfer your using the powerful API provided by FrankMe!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
          <h1>📲</h1>
          <h2 class="fs-4 fw-bold">High-Quality Transfers</h2>
          <p class="mb-0">
            Experience high-fidelity media transfers with our platform.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
          <h1>⚡</h1>
          <h2 class="fs-4 fw-bold">Fast Uploads and Downloads</h2>
          <p class="mb-0">
            Enjoy lightning-fast upload and download speeds with our optimized
            transfer protocols.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
          <h1>👁️</h1>
          <h2 class="fs-4 fw-bold">Preview Mode</h2>
          <p class="mb-0">
            Preview your media files before finalizing your purchase or
            download!
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
          <h1>🗃️</h1>
          <h2 class="fs-4 fw-bold">Organized Storage</h2>
          <p class="mb-0">
            Stay organized with our built-in storage solution. Easily manage and
            categorize your media files.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xxl-4 mb-5">
      <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
          <h1>🔗</h1>
          <h2 class="fs-4 fw-bold">One-Click Sharing</h2>
          <p class="mb-0">
            Share your media files effortlessly with our one-click sharing
            feature.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-main></app-footer-main>
