<form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
  <div class="asset-infos">
    <div class="form-group">
      <div class="title">
        <label for="title">Title :</label>
      </div>

      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter Asset Name"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <div class="title">
        <label for="price">Price :</label>
      </div>
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="Enter Asset price"
        formControlName="price"
      />
    </div>
    <div class="form-group">
      <div class="title">
        <label for="title">Expired After (Hours) :</label>
      </div>
      <input
        type="number"
        class="form-control"
        id="title"
        placeholder="Number of hours after which asset will be expired"
        formControlName="nbExpHours"
      />
    </div>
    <div class="form-group">
      <div class="title">
        <label for="mx-dw">Maximum of downloads :</label>
      </div>
      <input
        type="number"
        class="form-control"
        id="mx-dw"
        placeholder="Number of maximum downloads"
        formControlName="maxDownloadCount"
      />
    </div>
  </div>
  <div class="btns">
    <button class="btn-next">Submit</button>
  </div>
</form>
