<form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
  <div class="asset-infos">
    <div class="form-group">
      <div class="title">
        <label for="title">Title :</label>
      </div>

      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter Asset Name"
        formControlName="title"
      />
      <span
        *ngIf="!infoForm.get('title')?.valid && infoForm.get('title')?.touched"
        class="error"
        >Title is required</span
      >
    </div>
    <div class="form-group">
      <div class="title">
        <label for="price">Price :</label>
      </div>
      <input
        type="number"
        class="form-control"
        id="price"
        placeholder="Enter Asset price"
        formControlName="price"
      />
      <span
        *ngIf="!infoForm.get('price')?.valid && infoForm.get('price')?.touched"
        class="error"
        >Price is required</span
      >
    </div>
    <div class="form-group">
      <div class="title">
        <label for="exp">Expiration Date :</label>
      </div>
      <input
        type="date"
        class="form-control"
        id="exp"
        placeholder="Expiration Date"
        formControlName="expirationDate"
      />
      <span
        *ngIf="
          !infoForm.get('expirationDate')?.valid &&
          infoForm.get('expirationDate')?.touched
        "
        class="error"
        >Expiration Date is required</span
      >
    </div>
    <div class="form-group">
      <div class="title">
        <label for="mx-dw">Maximum of downloads :</label>
      </div>
      <input
        type="number"
        class="form-control"
        id="mx-dw"
        placeholder="Number of maximum downloads"
        formControlName="maxDownloadCount"
      />
      <span
        *ngIf="
          !infoForm.get('maxDownloadCount')?.valid &&
          infoForm.get('maxDownloadCount')?.touched
        "
        class="error"
        >Max Download is required</span
      >
    </div>
  </div>
  <div class="btns">
    <button class="btn-next">Submit</button>
  </div>
</form>
