<div class="container center">
  <div class="cp">
    <div class="rectangle center-col">
      <div class="folder-icon">
        <img
          src="../../../assets/icons/folder.png"
          width="56pxpx"
          height="56pxpx"
          alt=""
        />
      </div>
      <div class="detail">
        <div class="col-detail"><span class="label">-File :</span>rapport</div>
        <div class="col-detail"><span class="label">-Size :</span>20 MB</div>
        <div class="col-detail"><span class="label">-Type :</span>zip</div>
        <div class="col-detail">
          <span class="label">-Seller Name :</span>mohamed ghayth afli
        </div>
      </div>
    </div>
    <div class="adhesive-top center">
      <div class="logo-img">
        <img
          src="../../../assets/images/logo-white.png"
          width="22px"
          height="26.63px"
          alt=""
        />
      </div>
    </div>
    <div class="adhesive">
      <div class="adhesive-bottom-left center">
        <div class="icon">
          <img
            src="../../../assets/icons/payment.png"
            width="22px"
            height="26.63px"
            alt=""
          />
        </div>
      </div>
      <div class="click-message">PAY TO DOWNLOAD</div>
    </div>
    <div class="adhesive-bottom-right center">
      <div class="price">25 <span>TND</span></div>
    </div>
  </div>
</div>
