<div class="header">
  <div class="container-fluid">
    <div class="left-col">
      <div class="hi-title">
        <h1>Hello, John</h1>
      </div>
      <div class="hi-logo">
        <img src="../../../../assets/images/hi.png" alt="" />
      </div>
    </div>
    <div class="right-col">
      <div class="income">
        <div class="el-income left">
          <div class="icome-total">
            <div class="income-value"><h2>0.0025</h2></div>
            <div class="income-unit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0 0 64 64"
                style="fill: #1f2c73"
              >
                <path
                  d="M58,32c0,14.359-11.641,26-26,26S6,46.359,6,32C6,17.641,17.641,6,32,6S58,17.641,58,32z M40.266,37.666 c0-4.017-2.977-6.204-7.315-8.535c-2.725-1.47-4.34-2.259-4.34-3.801c0-1.112,1.435-1.829,3.514-1.829 c2.439,0,4.052,0.574,5.738,1.972l1.327-4.733c-1.512-1.141-3.346-1.708-5.404-1.895V16h-3.609v2.954 c-3.384,0.628-6.121,2.879-6.121,6.555c0,5.021,4.59,6.419,7.494,8.069c2.331,1.326,3.91,2.116,3.91,3.837 c0,1.936-1.184,3.191-3.766,3.191c-2.259,0-4.411-0.968-6.167-2.295l-1.794,4.483c1.756,1.309,4.175,2.115,6.444,2.355V48h3.609 v-2.932C37.814,44.462,40.266,42.095,40.266,37.666z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="el-income right">
          <div class="icome-total">
            <div class="income-value"><h2>0.0025</h2></div>
            <div class="income-unit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="20"
                height="20"
                viewBox="0 0 128 128"
                style="fill: #1f2c73"
              >
                <polygon
                  points="28.09 65.65 64 7 99.91 65.65 64 86.57 28.09 65.65"
                ></polygon>
                <polygon
                  points="64 93.16 98.76 71.58 64 121 28.42 71.58 64 93.16"
                ></polygon>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="notification">
        <button>
          <div class="el-notification">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="26"
              height="26"
              viewBox="0,0,256,256"
              style="fill: #1f2c73"
            >
              <g
                fill="#1f2c73"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(4,4)">
                  <path
                    d="M30,4c-1.217,0 -2.15247,1.0782 -1.98047,2.2832l0.2832,1.98047c-8.449,0.981 -12.41016,5.33633 -12.41016,9.73633c0,14.747 -4.14488,22.63706 -4.79687,23.78906l41.09961,-1.41602c-1.388,-3.039 -4.08789,-10.47705 -4.08789,-22.37305c0,-4.401 -3.96116,-8.75533 -12.41016,-9.73633l0.2832,-1.98047c0.172,-1.205 -0.76347,-2.2832 -1.98047,-2.2832zM8,44c0,0 -4,1 -4,9h22.04688c0.50064,2.83925 2.97,5 5.95313,5c2.98313,0 5.45249,-2.16075 5.95313,-5h22.04688c0,-8 -4,-9 -4,-9z"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
        </button>
      </div>
      <div class="profil">
        <button>
          <div class="el-dropdown">
            <div class="el-profil">
              <img
                src="../../../../assets/images/profil.png"
                width="40"
                height="40"
                alt=""
              />
            </div>
            <div class="icon-dropdown">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="15"
                height="15"
                viewBox="0 0 64 64"
                style="fill: #1f2c73"
              >
                <path
                  d="M57.236 18.127L32 40.41 6.764 18.127 4.036 21.051 29.953 46.604 32 48.622 34.047 46.604 59.964 21.051z"
                ></path>
              </svg>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
