<div class="done-cm">
  <div class="asset-done">
    <div class="illustration-done">
      <img
        src="../../../../../../assets/images/Pale skin hand showing thumbs up.png"
        width="159px"
        height="159px"
        alt=""
      />
    </div>
    <div class="title-done">
      <h1>You’re done!</h1>
    </div>
    <div class="desc-done">
      <p>Copy your download link or</p>
    </div>
    <div class="see-content">
      <a>see what's inside</a>
    </div>
  </div>
  <div class="asset-link">
    <div>
      <p>https://www.abc.com/asset/123456</p>
    </div>
  </div>
  <div class="btns">
    <button class="btn-next">Copy Link</button>
  </div>
</div>
