.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
}
.exit-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 1%;
  top: 2%;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.register-form {
  position: relative;
  width: 68.125rem;
  height: auto;
  border-radius: 10px;
  border: 0.5px solid #878787;
  background: #fff;
  box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo {
  margin-top: 26px;
  margin-bottom: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: auto;
  margin-bottom: 50px;
}
.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20px;
}
.input-filed {
  width: 45%;
  height: auto;
  flex-shrink: 0;
}

.input-filed:last-child {
  margin-bottom: 0;
}

.input-text {
  width: 100%;
  height: 59px;
  border-radius: 6px;
  border: 0.6px solid #282828;
  background: #fff;
}

.input-text[placeholder] {
  color: #ababab;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 30px;
}

.input-text[type="password"],
.input-text[type="text"] {
  padding-left: 30px;
  color: black;
}

label {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  width: 90%;
  height: 57px;
  margin-bottom: 20px;
}

.btn:last-child {
  margin-bottom: 0;
}

.google-btn,
.register-btn:hover {
  cursor: pointer;
}

.register-btn:active {
  background-color: var(--secondary-color);
}

.register-btn,
.google-btn {
  width: 100%;
  height: 100%;
}

.register-btn {
  background: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background: #fff;
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.google-btn:active {
  background: var(--primary-color);
  color: #fff;
}

.register-now {
  color: #7d7d7d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 39px;
}

.register-now a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.left-side {
  width: 43%;
  height: 68%;
}

.title {
  color: var(--secondary-color);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 53px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* form Cotrol errors */
.error {
  color: red;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 5px;
}

.input-text.ng-invalid.ng-touched {
  border: 1px solid red;
}

/* Media queries */

@media (max-width: 768px) {
  .container {
    height: auto;
  }
  .register-form {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .form {
    margin-bottom: 0;
  }
  .input-filed {
    width: 100%;
  }
  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-text {
    width: 100%;
  }
  .btn {
    width: 90%;
  }

  .title {
    font-size: 20px;
  }
  .sub-title {
    font-size: 8px;
  }
  .paragraph {
    margin-top: 20px;
  }
  .par1 {
    font-size: 14px;
  }
  .par2 {
    font-size: 14px;
  }
  .row {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    height: auto;
  }
  .register-form {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .form {
    margin-bottom: 0;
  }
  .input-filed {
    width: 100%;
  }
  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-text {
    width: 100%;
  }
  .btn {
    width: 90%;
  }
  .row {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .container {
    height: auto;
  }
  .register-form {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .form {
    margin-bottom: 0;
  }
  .input-filed {
    width: 100%;
  }
  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .input-text {
    width: 100%;
  }
  .btn {
    width: 90%;
  }
  .row {
    flex-direction: column;
    gap: 20px;
  }
}
