<div class="col-upload">
  <form>
    <div class="upload-space">
      <input type="file" id="file-input" multiple />
      <label for="file-input" class="file-upload">
        <div class="up-btn">
          <img src="../../../../assets/icons/X Cross.png" alt="" />
        </div>
        <div class="up-txt">
          <div class="up-title">Upload Files</div>
          <div class="up-sub-title">Or select a folder</div>
        </div>
      </label>
    </div>
    <hr />
    <div class="form-super-grp">
      <div class="form-group">
        <label for="input-title" class="input-label"> Title : </label><br />
        <input
          type="text"
          class="form-control"
          id="input-title"
          placeholder="Enter title"
        />
      </div>
      <div class="form-group">
        <label for="input-amount" class="input-label"> Amount : </label><br />
        <input
          type="text"
          class="form-control"
          id="input-title"
          placeholder="Enter amount"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" disabled>Get a Link</button>
  </form>
</div>
