<div class="container register" *ngIf="acitivateRegister">
  <div class="register-form">
    <div class="logo">
      <img
        class="image"
        src="assets/images/logo.png"
        alt=""
        width="64px"
        height="73px"
      />
    </div>
    <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="input-filed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            (click)="hideForm()"
          >
            <path
              fill="#0077b8"
              d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"
            />
          </svg>

          <label for="email">E-mail :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your email"
            id="email"
            formControlName="email"
            email
            required
          />
          <span class="error">Please enter a valid email</span>
        </div>
        <div class="input-filed">
          <label for="firstName">First Name :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your first Name"
            id="firstName"
            formControlName="firstName"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="input-filed">
          <label for="lastName">Last Name :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your lastName"
            id="lastName"
            formControlName="lastName"
            required
          />
        </div>
        <div class="input-filed">
          <label for="phone">Phone :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your phone number"
            id="phone"
            formControlName="phone"
            required
          />
        </div>
      </div>
      <div class="form-row">
        <div class="input-filed">
          <label for="username">Password :</label>
          <input
            class="input-text"
            type="password"
            placeholder="Enter your password"
            id="username"
            formControlName="password"
            required
          />
        </div>
        <div class="input-filed">
          <label for="confirmPassword">Repeate Password :</label>
          <input
            class="input-text"
            type="password"
            placeholder="Repeate your password"
            id="confirmPassword"
            formControlName="confirmPassword"
            required
          />
        </div>
      </div>

      <div class="btn">
        <button class="register-btn" type="submit">Sign Up</button>
      </div>
      <div class="btn">
        <button class="google-btn">
          <i class="fab fa-google fa-1.75x"></i>Continue with Google
        </button>
      </div>
    </form>
    <!-- Don’t have an Account ? Register -->
    <!-- <div class="register-now">
      <p>You have an Account ? <a routerLink="/login">Login</a></p>
    </div> -->
  </div>
</div>
