<div class="container register" *ngIf="acitivateRegister">
  <div class="register-form">
    <div class="title">
      <h1>Sign Up</h1>
    </div>
    <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="input-filed">
          <svg
            class="exit-btn"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            (click)="hideForm()"
          >
            <path
              fill="#0077b8"
              d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"
            />
          </svg>

          <label for="email">E-mail :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your email"
            id="email"
            formControlName="email"
            email
            required
          />
          <span
            *ngIf="
              !signupForm.get('email')?.valid &&
              signupForm.get('email')?.touched
            "
            class="error"
            >Please enter a valid email</span
          >
        </div>
        <div class="input-filed">
          <label for="firstName">First Name :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your first Name"
            id="firstName"
            formControlName="firstName"
            required
          />
          <span
            *ngIf="
              !signupForm.get('firstName')?.valid &&
              signupForm.get('firstName')?.touched
            "
            class="error"
            >This field is required</span
          >
        </div>
      </div>
      <div class="form-row">
        <div class="input-filed">
          <label for="lastName">Last Name :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your lastName"
            id="lastName"
            formControlName="lastName"
            required
          />
          <span
            *ngIf="
              !signupForm.get('lastName')?.valid &&
              signupForm.get('lastName')?.touched
            "
            class="error"
            >This field is required</span
          >
        </div>
        <div class="input-filed">
          <label for="phone">Phone :</label>
          <input
            class="input-text"
            type="text"
            placeholder="Enter your phone number"
            id="phone"
            formControlName="phoneNumber"
            required
          />
          <span
            *ngIf="
              !signupForm.get('phoneNumber')?.valid &&
              signupForm.get('phoneNumber')?.touched
            "
            class="error"
            >Enter a valid phone number !</span
          >
        </div>
      </div>
      <div class="form-row">
        <div class="input-filed">
          <label for="username">Password :</label>
          <input
            class="input-text"
            type="password"
            placeholder="Enter your password"
            id="username"
            formControlName="password"
            required
          />
          <span
            class="error"
            *ngIf="
              !signupForm.get('password')?.valid &&
              signupForm.get('password')?.touched
            "
          >
            Password must contain at least :<br />
            - one lowercase letter<br />
            - one uppercase letter<br />
            - one digit<br />
            - one special character.<br />
          </span>
        </div>
        <div class="input-filed">
          <label for="confirmPassword">Repeate Password :</label>
          <input
            class="input-text"
            type="password"
            placeholder="Repeate your password"
            id="confirmPassword"
            formControlName="confirmPassword"
            required
          />
          <span
            *ngIf="
              !signupForm.get('confirmPassword')?.valid &&
              signupForm.get('confirmPassword')?.touched
            "
            class="error"
            >Password does not match !</span
          >
        </div>
      </div>

      <div class="btn">
        <button class="register-btn" type="submit">Sign Up</button>
      </div>
      <div class="btn">
        <button class="google-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="30"
            height="30"
            viewBox="0 0 48 48"
          >
            <path
              fill="#FFC107"
              d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
            ></path>
            <path
              fill="#FF3D00"
              d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
            ></path>
            <path
              fill="#4CAF50"
              d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
            ></path>
            <path
              fill="#1976D2"
              d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
            ></path>
          </svg>
          <div>Continue with Google</div>
        </button>
      </div>
    </form>
  </div>
</div>
