<div class="container">
  <div class="row-title">
    <div class="title">
      <h4>Dashboard</h4>
    </div>
    <div class="sub-title">
      <p>Welcome to the dashboard</p>
    </div>
  </div>
  <div class="row-stat">
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Uploads</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.totalUploads }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img
            class="upload"
            src="../../../../assets/icons/Upload Document.png"
          />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Active Links</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.activeLinks }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img class="link" src="../../../../assets/icons/Link.png" />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Clicks</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.totalClicks }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img class="click" src="../../../../assets/icons/Internet.png" />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Downloads</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.totalDownloads }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img
            class="download"
            src="../../../../assets/icons/Open Document.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row-link">
    <app-upload></app-upload>
    <div class="col-link-table"></div>
  </div>
</div>
