<div class="container">
  <div class="row-title">
    <div class="title">
      <h4>Dashboard</h4>
    </div>
    <div class="sub-title">
      <p>Welcome to the dashboard</p>
    </div>
  </div>
  <div class="row-stat">
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Uploads</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.totalUploads }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img
            class="upload"
            src="../../../../assets/icons/Upload Document.png"
          />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Active Links</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.activeLinks }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img class="link" src="../../../../assets/icons/Link.png" />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Clicks</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.totalClicks }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img class="click" src="../../../../assets/icons/Internet.png" />
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="left-col">
        <div class="stat-title">Total Downloads</div>
        <div class="stat-value" *ngIf="summary$ | async as summary">
          {{ summary.totalDownloads }}
        </div>
      </div>
      <div class="right-col">
        <div class="stat-icon">
          <img
            class="download"
            src="../../../../assets/icons/Open Document.png"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row-link">
    <app-upload></app-upload>
    <div class="col-link-table">
      <div class="title">
        <h4>Recent Links</h4>
      </div>
      <div class="table">
        <div class="theader">
          <div class="col">Title</div>
          <div class="col">Link</div>
          <div class="col">Clicks</div>
          <div class="col">Incomes</div>
        </div>
        <div class="tbody" *ngIf="links$ | async as links">
          <div class="trow" *ngFor="let link of links.slice(-6)">
            <div class="col">
              {{ link.title }}
            </div>
            <div class="col">
              <a
                [href]="'http://127.0.0.1:4200/#/download/' + link.linkUniqueId"
                >visit</a
              >
            </div>
            <div class="col">{{ link.numberOfCLicks }}</div>
            <div class="col">{{ link.numberOfDownload * link.price }} TND</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
