<div class="container">
  <div class="forgot-password-form">
    <div class="logo">
      <img
        class="image"
        src="assets/images/logo.png"
        alt=""
        width="64px"
        height="73px"
      />
    </div>
    <form class="form">
      <div class="input-filed">
        <label for="email">E-mail :</label>
        <input
          class="input-text"
          type="text"
          placeholder="Enter your email"
          id="email"
          formControlName="email"
          email
          required
        />
      </div>
      <div class="btn">
        <button class="forgot-password-btn" type="submit">Send Code</button>
      </div>
    </form>
    <!-- Don’t have an Account ? forgot-password -->
    <div class="forgot-password-now">
      <p>You have an Account ? <a routerLink="/login">Login</a></p>
    </div>
  </div>
</div>
