.bg-image {
 background-image: url("https://ouch-cdn2.icons8.com/4VNQW5DnIK90s6XgmtaG_0YRLNQmrllc2TrGN8mVo2s/rs:fit:368:368/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNzMy/Lzc1OTY1NjI2LWVh/OTEtNDQ3NC05ZmJi/LTNlNWRlZGM1YTJj/MS5wbmc.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
